.title{
    width:200px;
    margin:auto;
}

.instructions{
    width:340px;
    margin:auto;
}

.grid_container{
    margin: 10px auto;
    display:flex;
    flex-direction:column;
    width: 400px;
    height:400px;
    background-color: rgb(127, 131, 201);
}

.row{
    display: flex;
    flex:1;
}

.grid_element{
    margin: 1px;
    background-color: white;
    flex:1
}

.toolbox{
    width:260px;
    margin:auto
}

.slidecontainer{
    display:flex;
    
}

#myRange{
    margin:10px
}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }